<section id="experience" >
<div class="grid nested-grid">
  <div class="col-12 md:col-12 lg:col-4 p-5">
    <p-image src="assets/img/tower.png" alt="image-tower" imageClass="w-full"/>
  </div>
  <div class="col-12 sm:col-12 lg:col-8 p-5">
    <div class="grid ">
      <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <p-card>
          <app-diploma [widthSize]="'50px'" [heightSize]="'50px'" />

          <p class="text-3xl mt-5">
            <span class="font-bold text-[var(--custom-orange)]">10 Years </span>
            <span class="font-semibold">Years of Property Experience </span>
          </p>
          <p class="text-xl/8 mt-3">
            Over the years, we’ve transformed properties into profitable,
            high-quality homes across London. One thing remains unchanged: our
            commitment to excellence and client satisfaction.
          </p>
        </p-card>
      </div>
      <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <p-card>
          <i class="pi pi-building text-5xl"></i>
          <p class="text-3xl mt-5">
            <span class="font-bold text-[var(--custom-orange)]"> 50+ </span>
            <span class="font-semibold">Managed Properties </span>
          </p>
          <p class="text-xl/8 mt-3">
            From serviced apartments to Rent-to-Rent homes, we manage every
            detail — ensuring comfort, compliance, and consistent returns for
            our partners and guests.
          </p>
        </p-card>
      </div>
      <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <p-card>
          <app-wine-glasses [widthSize]="'60px'" [heightSize]="'60px'" />

          <p class="text-3xl mt-5">
            <span class="font-bold text-[var(--custom-orange)]"> 500+ </span>
            <span class="font-semibold">Happy Clients </span>
          </p>
          <p class="text-xl/8 mt-3">
            We take an individual approach to every landlord, investor, and
            tenant. Our success is built on trust, transparency, and long-term
            relationships.
          </p>
        </p-card>
      </div>
      <div class="col-12 sm:col-12 md:col-6 lg:col-6">
        <p-card>
          <app-diamond [widthSize]="'60px'" [heightSize]="'60px'" />

          <p class="text-3xl mt-5">
            <span class="font-bold text-[var(--custom-orange)]"> 100% </span>
            <span class="font-semibold"> Commitment to Quality </span>
          </p>
          <p class="text-xl/8 mt-3">
            We treat every property as if it were our own — inspected, refined,
            and managed to meet the highest standards of design, safety, and
            performance.
          </p>
        </p-card>
      </div>
    </div>
  </div>
</div>

</section>