<!-- ABOUT -->
<section id="about-us" class="flex bg-about-us md:my-6 ">
  <!-- Espacio para imagen -->
  <div class="lg:w-2/5"></div>

  <!-- contenido -->
  <div
    class="relative flex flex-col gap-3 justify-center px-3 sm:px-3 md:px-4 lg:px-8 lg:w-2/3"
  >
    <span class="text-xl font-bold text-[var(--custom-orange)]"> ABOUT US </span>
    <span class="text-3xl md:text-5xl font-bold"> About DND capital </span>

    <p class="text-2xl font-bold">
      For many years, we have been dedicated to creating exceptional living
      experiences and lasting value for our clients and guests.
    </p>

    <p class="text-xl">
      DND Capital Real Estate Ltd is a London company specialising in
      Rent-to-Rent and serviced accommodation. We focus on turning prime
      properties into elegant, fully managed homes that deliver comfort, style,
      and profitability. Our team ensures each space we manage reflects the
      highest standards of quality and design, offering guests and tenants a
      premium living experience.
    </p>

    <p class="text-xl">
      Beyond property management, we provide tailored investment solutions for
      landlords and investors seeking reliable growth and sustainable returns.
      With a commitment to excellence and attention to detail, DND Capital
      transforms every property into an opportunity — where business meets
      lifestyle, and where you can truly feel at home wherever you go.
    </p>

    <div class="flex justify-end mt-2">
      <p-button
        label="More About DND"
        icon="pi pi-users"
        severity="contrast"
        (click)="router.navigate(['/about-us'])"
      ></p-button>
    </div>
  </div>
</section>
