.bg-index {

    position: relative;
    z-index: 0; // 👈 Establece el contexto de apilamiento base

    

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url("/assets/img/new-cover-a.jpg");
        background-size: cover;
        background-position: center;
        z-index: -1; // 👈 Envía el fondo detrás de todo

        @media (max-width: 1024px) {
            opacity: 0;
            height: 0;
        }
    }

    // 👇 Todo el contenido debe estar por encima del fondo
    >* {
        position: relative;
        z-index: 1;
    }


}