<section id="booking-social-media">
  <div
    class="flex bg-primary xl:gap-30 md:gap-20 lg:gap-20 p-2 align-items-center justify-content-center"
  >
    <div class="mb-3">
      <div
        class="w-full border-round-lg border-2 border-primary p-2 hover:shadow-6"
      >
        <a pRipple class="brightness-0 invert hover:brightness-60" href="{{airbnb}}" target="_blank">
          <div
            class="flex flex-col gap-1 align-items-center justify-content-center"
          >
            <p-image src="assets/img/airbnb.png" alt="logo" width="120" />

            <span class="text-white  text-xs md:text-xl lg:text-xl xl:text-xl font-semibold text-center"
              >Airbnb</span
            >
          </div>
        </a>
      </div>
    </div>

    <div class="mb-3">
      <div
        class="w-full border-round-lg border-2 border-primary p-2 hover:shadow-6"
      >
        
        <a pRipple class="brightness-0 invert hover:brightness-60" href="{{tripadvisor}}" target="_blank">
          <div class="flex flex-col align-items-center justify-content-center">
            <p-image src="assets/img/tripadvisor.png" alt="logo" width="120" />

            <span class="text-white text-xs sm:text-xs  md:text-xl lg:text-xl xl:text-xl font-semibold text-center"
              >Tripadvisor &#174;</span
            >
          </div>
        </a>
      </div>
    </div>

    <div class="mb-3">
      <div
        class="w-full border-round-lg border-2 border-primary p-2 hover:shadow-6"
      >        
        <a pRipple class="brightness-0 invert hover:brightness-60" href="{{bookingcom}}" target="_blank">
          <div class="flex flex-col align-items-center justify-content-center">
            <p-image src="assets/img/booking.png" alt="logo" width="140" />
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
