<section id="planning">
  <div class="grid p-5">
    <div class="col-12 sm:col-12 md:col-12 lg:col-6">
      <div class="flex flex-col gap-4">
        <span class="text-xl font-bold text-[var(--custom-orange)]">
          PLANNING
        </span>

        <span class="font-bold text-3xl">
          Find Your Perfect Stay in 3 Easy Steps
          <div class="w-24">
            <p-divider styleClass="custom-divider-planning" />
          </div>
        </span>

        <p class="text-2xl text-gray-500">
          Whether you’re a student, traveller, or family, DND Capital Real
          Estate Ltd makes finding accommodation simple and stress-free. From
          short city stays to long-term rentals, we help you feel at home
          wherever you go.
        </p>

        <div class="flex flex-col md:ml-3 lg:ml-4 xl:ml-4 gap-3">
          <div class="flex gap-3 items-center">
            <i class="pi pi-map text-4xl text-gray-600"></i>
            <span class="font-bold text-2xl"> Choose Your Location </span>
          </div>

          <p class="text-2xl text-gray-500">
            Select from our trusted properties across London and beyond fully
            furnished, safe, and designed for comfort and convenience.
          </p>

          <div class="flex gap-3 items-center">
            <i class="pi pi-calendar-plus text-4xl text-gray-600"></i>
            <span class="font-bold text-2xl"> Book Your Stay </span>
          </div>

          <p class="text-2xl text-gray-500">
            Pick your preferred dates and accommodation type. Our team ensures
            every detail is handled smoothly — from booking to check-in.
          </p>

          <div class="flex gap-3 items-center">
            <i class="pi pi-calendar-plus text-4xl text-gray-600"></i>
            <span class="font-bold text-2xl"> Move In and Relax </span>
          </div>

          <p class="text-2xl text-gray-500">
            Our experienced travel agents guarantee each client the most
            enjoyable and memorable experience.Enjoy your new home! Whether
            you’re here for days, weeks, or months, DND Capital takes care of
            everything so you can focus on what matters most.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 sm:col-12 md:col-12 lg:col-6">
      <p-image
        src="assets/img/person-with-map.jpeg"
        alt="image-tower"
        imageClass="w-full h-full object-fit border-round-lg "
      />
    </div>
  </div>
</section>
