<section  class="bg-testimonials">
  <div class="flex-flex-col lg:p-8">
    <!-- header text -->
    <div class="flex flex-col text-center">
      <span class="text-xl font-bold text-[var(--custom-orange)]">
        TESTIMONIALS
      </span>

      <span class="text-2xl font-bold"> Words of Gratitude </span>

      <div class="w-24 mx-auto">
        <p-divider styleClass="custom-divider-testimonial" />
      </div>

      <span id="testimonials" class="text-xl text-gray-500 font-semibold">
        We are grateful to all our clients who choose us year after year and go
        on our group and individual tours!
      </span>
    </div>

    <!-- carrousel -->
    <div class="card mt-5" >
      <p-carousel
        [value]="testimonials"
        [numVisible]="2"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
        [showIndicators]="true"
        [prevButtonProps]="{ severity: 'primary', rounded: true, text: false }"
        [nextButtonProps]="{ severity: 'primary', rounded: true, text: false }"
        autoplayInterval="3000"
      >
        <ng-template let-item #item>
          <div
            class="flex flex-col gap-3 items-center justify-center bg-yellow-50 mx-5 p-5 rounded-xl h-full"
          >
             <!-- Imagen circular -->
            <div class="w-32 h-32 overflow-hidden rounded-full flex-shrink-0">
              <p-image
                src="{{ item.imageUrl }}"
                [alt]="item.name"
                imageClass="w-full h-full object-cover"
              />
            </div>

            <span class="text-2xl font-bold text-center">{{ item.name }}</span>
            <span
              class="text-lg text-gray-500 text-center"
              >{{ `"${item.shortDescription}"` }}</span
            >
            <span
              class="text-lg font-bold text-[var(--custom-orange)] text-center"
              >{{ item.date }}</span
            >
          </div>
        </ng-template>
      </p-carousel>
    </div>
  </div>
</section>
