<section id="testimonials" class="bg-testimonials">


    TESTIMONIALS
    
    Words of Gratitude
    We are grateful to all our clients who choose us year after year and go on our group and individual tours!
    
      <!-- carrousel -->
    <div class="card sm:p-2 lg:p-8 lg:pt-1 sm:pt-2">
      <p-carousel
        [value]="testimonials"
        [numVisible]="3"
        [numScroll]="1"
        [responsiveOptions]="responsiveOptions"
        [showIndicators]="true"
        [prevButtonProps]="{ severity: 'primary', rounded: true, text: false }"
        [nextButtonProps]="{ severity: 'primary', rounded: true, text: false }"
        autoplayInterval="3000"
      >
        <ng-template let-item #item>
          <div class="h-full p-2">
            <!-- 🔹 Altura fija + distribución vertical -->
            <div
              class="rounded m-2 p-5 bg-white flex flex-column justify-content-center h-full shadow-2 border-round-xl min-h-30rem"
            >
           
              <!-- Contenido -->
              <div class="flex flex-column flex-grow-1 justify-content-between">
                <!-- Imagen -->
                <div class="mb-3">
                  <div class="relative w-full overflow-hidden border-round-lg">
                    <img
                      src="{{ item.imageUrl }}"
                      [alt]="item.name"
                      class="w-full h-15rem object-cover border-round-lg"
                    />
                  </div>
                </div>
                <div>
                  <div
                    class="mb-1 text-sm font-semibold text-[var(--custom-orange)] line-height-3"
                  >
                    {{ item.title }}
                  </div>

                  <div
                    class="mb-2 text-xl font-semibold text-900 line-height-3"
                  >
                    {{ item.subtitle }}
                  </div>

                  <div class="mb-3 text-xl line-height-3 text-700">
                    {{ item.detail }}
                  </div>
                </div>
               
              </div>
              
            </div>
          </div>
        </ng-template>
      </p-carousel>
    </div>

</section>    

